Repository mikeboiko/spotidry: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-format, ruff-format

.lefthook.yml:

pre-commit:
  commands:
    prettier-format:
      glob: '**/*.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}'
      run: |
        echo "Formatting files with prettier..."
        npx prettier --write {staged_files}
      stage_fixed: true

    ruff-format:
      glob: '**/*.py'
      run: |
        echo "Formatting python files with ruff..."
        uv run ruff format {staged_files}
      stage_fixed: true

feat(spotify): add output_format customization
  README.md
  spotidry/spotify.py
Due: ruff-format

Updated changelog for v0.0.8
  CHANGELOG.md
  spotidry/__init__.py
Due: ruff-format

Added pytests
  .github/copilot-instructions.md
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  GEMINI.md
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  tests/test_main.py
  tests/test_spotify_config_and_connect.py
  tests/test_spotify_init_and_controls.py
  tests/test_spotify_printing_and_setup.py
  uv.lock
Due: prettier-format, ruff-format

feat: add scrolling text for long titles
  CHANGELOG.md
  README.md
  spotidry/__init__.py
  spotidry/spotify.py
  tests/test_scrolling.py
  tests/test_spotify_printing_and_setup.py
Due: ruff-format

ci: enable parallel execution for lefthook pre-commit hooks
  .lefthook.yml
Due: none

chore(release): 0.0.10
  CHANGELOG.md
  spotidry/__init__.py
Due: ruff-format

ci: automate release tagging
  .github/workflows/publish.yml
  CHANGELOG.md
  README.md
Due: prettier-format

docs: update readme and deployment guidance
  .github/copilot-instructions.md
  CHANGELOG.md
  README.md
  spotidry/cli.py
  tests/test_cli.py
Due: prettier-format, ruff-format

Test more Python versions in CI
  .github/workflows/tests.yml
  README.md
  pyproject.toml
Due: prettier-format

Pin local Python to 3.14
  .github/workflows/tests.yml
  .python-version
  README.md
  pyproject.toml
Due: prettier-format

Release 0.0.11
  CHANGELOG.md
  README.md
  spotidry/__init__.py
  spotidry/__main__.py
  spotidry/cli.py
  spotidry/spotify.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_main.py
  tests/test_spotify_init_and_controls.py
  tests/test_spotify_printing_and_setup.py
Due: ruff-format

Fix --volume-show reporting volume unavailable
  .github/copilot-instructions.md
  CHANGELOG.md
  spotidry/__init__.py
  spotidry/__main__.py
  tests/test_main.py
Due: prettier-format, ruff-format

chore(lefthook): enable doublestar glob matcher
  .lefthook.yml
Due: none
